<div class="search">
    <input [(ngModel)]="selectedItem.text" [placeholder]="placeholder" (keyup)="onkeyup($event)" (focus)="open()" (click)="open()" (blur)="onblur()"/>
</div>
<ul class="items">
    <li *ngFor="let item of getItems();let index = index" [ngClass]="{focused:focusedIndex == index}" (click)="setAndClose(item)">
        <label>{{item.text}}</label>
    </li>
</ul>