:host() {
    position: relative;
    >.items {
        position: absolute;
        max-height: 0;
        top: 10%;
        right:0;
        left:0;
        z-index: 10000000;
        overflow: auto;
        padding: 0;
        list-style: none;
        background-color: #fff;
        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            &.focused,&:hover {background-color: rgba(230,230,230,.15);}
            label {
                flex: 1;
                padding:7px 15px;
                cursor: pointer;
                border-bottom: 1px solid #fbfbfb;
            }
        }
    }
    .search{
        display: unset;
        >input {
            width: 100%;
            padding: 10px;
            outline: none;
            border:none;
            box-sizing: border-box;
            box-shadow: 0px 1px 2px 1px #d5d5d5;
            
        }
    }
    &.open>.items {
        top:100%;
        max-height: 200px;
        box-shadow: 0px 1px 2px 1px #d5d5d5;
        transition: top 300ms ease,max-height 300ms ease;
    }
}