:host {
  position: relative; }
  :host > .items {
    position: absolute;
    max-height: 0;
    top: 10%;
    right: 0;
    left: 0;
    z-index: 10000000;
    overflow: auto;
    padding: 0;
    list-style: none;
    background-color: #fff; }
    :host > .items li {
      display: flex;
      flex-direction: row;
      align-items: center; }
      :host > .items li.focused, :host > .items li:hover {
        background-color: rgba(230, 230, 230, 0.15); }
      :host > .items li label {
        flex: 1;
        padding: 7px 15px;
        cursor: pointer;
        border-bottom: 1px solid #fbfbfb; }
  :host .search {
    display: unset; }
    :host .search > input {
      width: 100%;
      padding: 10px;
      outline: none;
      border: none;
      box-sizing: border-box;
      box-shadow: 0px 1px 2px 1px #d5d5d5; }
  :host.open > .items {
    top: 100%;
    max-height: 200px;
    box-shadow: 0px 1px 2px 1px #d5d5d5;
    transition: top 300ms ease,max-height 300ms ease; }

/*# sourceMappingURL=combobox.component.css.map */
