<ul class="selected-items">
    <li *ngFor="let item of selectedItems">
        <a (click)="remove(item)">x</a>
        <span>{{item.text}}</span>
    </li>
</ul>
<div class="search">
    <input [(ngModel)]="search" [placeholder]="placeholder" (keyup)="onkeyup($event)" (focus)="open()" (click)="open()" (blur)="onblur()"/>
</div>
<ul class="items">
    <li *ngFor="let item of getItems();let index = index" [ngClass]="{focused:focusedIndex == index}">
        <input id="{{name + '-' + index}}" type="checkbox" [(ngModel)]="item.checked" (change)="toggle(item)" (blur)="onblur()"/>
        <label for="{{name + '-' + index}}">{{item.text}}</label>
    </li>
</ul>