:host() {
    .selected-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        padding: 0;
        margin-top: 0;
        margin-bottom: 5px;
        li {
            color: #9e9e9e;
            border-radius: 4px;
            margin: 3px;
            padding: 5px;
            font-size: 12px;
            background-color: #fafafa;
            box-shadow: 0 0 1px #cfcfcf;
            a {margin: 0 5px;opacity: .6; &:hover {opacity: 1;}}
        }
    }
    .items {
        input {display: none;}
        label {
            position: relative;
            padding-right: 40px !important;
        }
        label:before,label:after {
            content: '';
            position: absolute;
            top:50%;
            border-style: solid;
        }
        label:before {
            width:18px;
            height: 18px;
            right:10px;
            border-width:1px;
            border-color: #e3e3e3;
            transform: translateY(-50%);
        }
        label:after {
            width:5px;
            height: 12px;
            right:22px;
            opacity: 0;
            border-width: 0 2px 2px 0;
            border-color: rgb(43, 179, 145);
            transform: rotate(35deg) translateY(calc(-50% - 3px));
            transition: opacity 300ms ease,transform 300ms ease;
        }
        input:checked+label:after {
            opacity: 1;
        }
    }
}